{%  extends 'dashboard/index.html' %}
{% load static %}
{% block content %}
{% load myfilters %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Project Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Project</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {{ project.non_field_errors }}
                                <div class="form-group col-6">

                                    <div class="fieldWrapper">
                                        {{ project.name.errors }}
                                        {{ project.name.label_tag }}
                                        {{ project.name|addclass:'form-control' }}
                                        <span class="helptext">{{ project.name.help_text }}</span>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <div class="fieldWrapper">
                                        {{ project.author.errors }}
                                        {{ project.author.label_tag }}
                                        {{ project.author|addclass:'form-control' }}
                                        <span class="helptext">{{ project.author.help_text }}</span>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="fieldWrapper">
                                        {{ project.description.errors }}
                                        {{ project.description.label_tag }}
                                        {{ project.description|addclass:'form-control' }}
                                        <span class="helptext">{{ project.description.help_text }}</span>
                                    </div>
                            </div>
                            <!--                        <div class="form-group">-->
                            <!--                            <label for="inputStatus">Status</label>-->
                            <!--                            <select id="inputStatus" class="form-control custom-select">-->
                            <!--                                <option >Select one</option>-->
                            <!--                                <option selected>Success</option>-->
                            <!--                            </select>-->
                            <!--                        </div>-->

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-12">
                    <!-- /.card -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Files</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Library Name</th>
                                    <th>Library Author</th>
                                    <th>Running Order</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in program %}
                                <tr>

                                    <td>{{i.library.name}}</td>
                                    <td>{{i.library.author}}</td>
                                    <td>{{i.orderNumber}}</td>
                                    <td class="text-right py-0 align-middle">
                                        <div class="btn-group btn-group-sm">
                                            <a href="{% url 'library' i.library.id  %}" class="btn btn-info"><i
                                                    class="fas fa-eye"></i></a>
                                            <a href="{% url 'libraryEdit' i.library.id  %}" class="btn btn-secondary"><i
                                                    style="color: white;" class="fas fa-edit"></i></a>
                                            <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>

                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Submit" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}